{% load static %}
<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <title>Nabídka Kávy</title>
        <link
            rel="icon"
            href="{% static 'img/Vector.svg' %}"
            type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav>
                    <div class="logo">
                        Kralovska Kava
                        <img src="{% static 'img/Vector.svg' %}" alt="Logo" />
                    </div>
                    <div class="menu-container">
                        <ul>
                            <li><a href="{% url 'home' %}">O nás</a></li>
                            <li id="menu-item" class="menu">
                                <a href="#" id="menu-link">Menu</a>
                                <ul id="submenu" class="submenu">
                                    <li>
                                        <a href="{% url 'coffee_list' %}"
                                            >Nabídka Kávy</a
                                        >
                                    </li>
                                    <li>
                                        <a href="{% url 'snack_list' %}"
                                            >Nabídka Občerstvení</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'reservations' %}">Rezervace</a>
                            </li>
                            <li><a href="{% url 'location' %}">Poloha</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main>
                <h1>Nabídka Kávy</h1>
                <ul>
                    {% for coffee in coffees %}
                    <li>
                        <h2>{{ coffee.name }}</h2>
                        <img
                            src="{{ coffee.image.url }}"
                            alt="{{ coffee.name }}" />
                        <p>{{ coffee.description }}</p>
                        <p><strong>Cena:</strong> {{ coffee.price }} Kč</p>
                        <p><strong>Původ:</strong> {{ coffee.origin }}</p>
                        <p>
                            <strong>Stupeň pražení:</strong>
                            {{coffee.roast_level}}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </main>
            <footer>&copy; 2024 Kralovska Kava</footer>
        </div>
    </body>
</html>
