{% load static %}
<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <title>Rezervace Úspěšná</title>
        <link
            rel="icon"
            href="{% static 'img/Vector.svg' %}"
            type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    Kralovska Kava
                    <img src="{% static 'img/Vector.svg' %}" alt="Logo" />
                </div>
                <div class="menu-container">
                    <ul>
                        <li><a href="{% url 'home' %}">O nás</a></li>
                        <li>
                            <a href="{% url 'coffee_list' %}">Nabídka Kávy</a>
                        </li>
                        <li>
                            <a href="{% url 'snack_list' %}"
                                >Nabídka Občerstvení</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'reservations' %}">Rezervace</a>
                        </li>
                        <li><a href="{% url 'location' %}">Poloha</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <h1>Rezervace Úspěšná</h1>
            <p>Děkujeme za vaši rezervaci. Těšíme se na vaši návštěvu!</p>
            <a href="{% url 'home' %}">Back to Home</a>
        </main>
        <footer>&copy; 2024 Kralovska Kava</footer>
    </body>
</html>
